<?xml version="1.0" encoding="Windows-1251"?>
<root>
    <Net>
        <Proxy useProxy="no" ip="" port="" user="" pass=""/>
    </Net>
    <Cron running="true"/>
    <WMIDS>
		  
    	<WMID346563783130 wmid="346563783130" authType="Classic" pass="wmring2010" kwm="gQABAAztRyVvJnNEQD6Km3OUaq6MAAAAAAAAAEIAOgF24Bdzs0F+ugQW2AOVSNk1OpRqlOLTcl2G8vmFnrLIlevUCM+GSmnZJUJJft3MVf7I4J6hqRU4+od6PcAnUmYmQfoaXHmmAWV5yqtibmowBvmECgnKmHWfhiiYi+iBqALT12Zhfx75bB/Qs9twJWzx7hwC2lyz6liXNCDnKoGmS94wddE=">
			<Purses WMR="R191577878414" WMZ="Z289087757175" WME="E171905456028" WMU="U147789036165" WMB="B277294845696" WMG="G211706332227"/>
		</WMID346563783130>
    </WMIDS>
    <DataBase server="localhost" user="wmring" pass="ring565656" dbname="ring">
    </DataBase>

    <Exchanges>
        <!--  + -->
        <WMZ_WMR WMsource="WMZ" WMdest="WMR" exchType="1" rateType="forward">
            <OfficalRates bank="CBR" currencyName="USD">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="107" maxSumm="2" minSumm="1" myPersent="0.566" run="true">
            </Settings>
        </WMZ_WMR>
        <WMR_WMZ WMsource="WMR" WMdest="WMZ" exchType="2" rateType="forward">
            <OfficalRates bank="CBR" currencyName="USD">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="103" maxSumm="100" minSumm="31" myPersent="1.43" run="true">
            </Settings>
        </WMR_WMZ>

        <!--  + -->
        <WMZ_WME WMsource="WMZ" WMdest="WME" exchType="3" rateType="backward">
            <OfficalRates bank="EURUSD" currencyName="EUR">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="110" maxSumm="10" minSumm="5" myPersent="2.206" run="true">
            </Settings>
        </WMZ_WME>
        <WME_WMZ WMsource="WME" WMdest="WMZ" exchType="4" rateType="backward">
            <OfficalRates bank="EURUSD" currencyName="EUR">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="102" minSumm="5" myPersent="0.736" run="true">
            </Settings>
        </WME_WMZ>

        <!--  + -->
        <WME_WMR WMsource="WME" WMdest="WMR" exchType="5" rateType="forward">
            <OfficalRates bank="CBR" currencyName="EUR">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="200" maxSumm="15" minSumm="5" myPersent="1.617" run="true">
            </Settings>
        </WME_WMR>
        <WMR_WME WMsource="WMR" WMdest="WME" exchType="6" rateType="forward">
            <OfficalRates bank="CBR" currencyName="EUR">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="500" maxSumm="100" minSumm="30" myPersent="3.512" run="true">
            </Settings>
        </WMR_WME>

        <!-- + -->
        <WMZ_WMU WMsource="WMZ" WMdest="WMU" exchType="7" rateType="forward">
            <OfficalRates bank="NBU" currencyName="USD">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="15" minSumm="8" myPersent="-0.5" run="false">
            </Settings>
        </WMZ_WMU>
        <WMU_WMZ WMsource="WMU" WMdest="WMZ" exchType="8" rateType="forward">
            <OfficalRates bank="NBU" currencyName="USD">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="15" minSumm="5" myPersent="1.064" run="false">
            </Settings>
        </WMU_WMZ>

        <!-- + -->
        <WMR_WMU WMsource="WMR" WMdest="WMU" exchType="9" rateType="backward">
            <OfficalRates bank="CBR" currencyName="UAH" rateType="forward">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="500" maxSumm="100" minSumm="31" myPersent="2.617" run="false">
            </Settings>
        </WMR_WMU>
        <WMU_WMR WMsource="WMU" WMdest="WMR" exchType="10" rateType="backward">
            <OfficalRates bank="CBR" currencyName="UAH">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="300" maxSumm="100" minSumm="8" myPersent="-0.241" run="false">
            </Settings>
        </WMU_WMR>

        <!-- + -->
        <WMU_WME WMsource="WMU" WMdest="WME" exchType="11" rateType="backward">
            <OfficalRates bank="NBU" currencyName="EUR">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="15" minSumm="5" myPersent="1" run="false">
            </Settings>
        </WMU_WME>
        <WME_WMU WMsource="WME" WMdest="WMU" exchType="12" rateType="backward">
            <OfficalRates bank="NBU" currencyName="EUR">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="15" minSumm="5" myPersent="1" run="false">
            </Settings>
        </WME_WMU>

        <!-- + -->
        <WMB_WMZ WMsource="WMB" WMdest="WMZ" exchType="17" rateType="backward">
            <OfficalRates bank="NBRB" currencyName="USD">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="15" minSumm="5" myPersent="1" run="false">
            </Settings>
        </WMB_WMZ>
        <WMZ_WMB WMsource="WMZ" WMdest="WMB" exchType="18" rateType="backward">
            <OfficalRates bank="NBRB" currencyName="USD">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="15" minSumm="5" myPersent="1" run="false">
            </Settings>
        </WMZ_WMB>

        <!-- + -->
        <WMB_WME WMsource="WMB" WMdest="WME" exchType="19" rateType="backward">
            <OfficalRates bank="NBRB" currencyName="EUR">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="15" minSumm="5" myPersent="1" run="false">
            </Settings>
        </WMB_WME>
        <WME_WMB WMsource="WME" WMdest="WMB" exchType="20" rateType="backward">
            <OfficalRates bank="NBRB" currencyName="EUR">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="15" minSumm="5" myPersent="1" run="false">
            </Settings>
        </WME_WMB>

        <!-- + -->
        <WMR_WMB WMsource="WMR" WMdest="WMB" exchType="23" rateType="forward">
            <OfficalRates bank="NBRB" currencyName="RUB">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="15" minSumm="5" myPersent="1" run="false">
            </Settings>
        </WMR_WMB>
        <WMB_WMR WMsource="WMB" WMdest="WMR" exchType="24" rateType="forward">
            <OfficalRates bank="NBRB" currencyName="RUB">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="15" minSumm="5" myPersent="1" run="false">
            </Settings>
        </WMB_WMR>

        <!-- - -->
        <WMZ_WMG WMsource="WMZ" WMdest="WMG" exchType="25" rateType="backward">
            <OfficalRates bank="Exchanger" currencyName="WMZ_WMG">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="15" minSumm="5" myPersent="-3.161" run="true">
            </Settings>
        </WMZ_WMG>
        <WMG_WMZ WMsource="WMG" WMdest="WMZ" exchType="26" rateType="backward">
            <OfficalRates bank="Exchanger" currencyName="WMG_WMZ">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="0.2" minSumm="0.1" myPersent="-2.488" run="true">
            </Settings>
        </WMG_WMZ>

        <WME_WMG WMsource="WME" WMdest="WMG" exchType="27" rateType="backward">
            <OfficalRates bank="Exchanger" currencyName="WME_WMG">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="15" minSumm="5" myPersent="1" run="false">
            </Settings>
        </WME_WMG>
        <WMG_WME WMsource="WMG" WMdest="WME" exchType="28" rateType="backward">
            <OfficalRates bank="Exchanger" currencyName="WMG_WME">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="15" minSumm="5" myPersent="1" run="false">
            </Settings>
        </WMG_WME>

        <WMR_WMG WMsource="WMR" WMdest="WMG" exchType="29" rateType="backward">
            <OfficalRates bank="Exchanger" currencyName="WMR_WMG">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="300" maxSumm="100" minSumm="31" myPersent="-2.891" run="true">
            </Settings>
        </WMR_WMG>
        <WMG_WMR WMsource="WMG" WMdest="WMR" exchType="30" rateType="backward">
            <OfficalRates bank="Exchanger" currencyName="WMG_WMR">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="0.2" minSumm="0.1" myPersent="-0.96" run="true">
            </Settings>
        </WMG_WMR>

        <WMU_WMG WMsource="WMU" WMdest="WMG" exchType="31" rateType="backward">
            <OfficalRates bank="Exchanger" currencyName="WMU_WMG">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="15" minSumm="5" myPersent="1" run="false">
            </Settings>
        </WMU_WMG>
        <WMG_WMU WMsource="WMG" WMdest="WMU" exchType="32" rateType="backward">
            <OfficalRates bank="Exchanger" currencyName="WMG_WMU">
            </OfficalRates>
            <Settings wmid="384986898423" dayLimit="100" maxSumm="15" minSumm="5" myPersent="1" run="false">
            </Settings>
        </WMG_WMU>
    </Exchanges>
</root>
